{
    "parser": "babel-eslint",
    "parserOptions": {
        "ecmaVersion": 8,
        "ecmaFeatures": {
            "experimentalObjectRestSpread": true,
            "jsx": true
        },
        "sourceType": "module"
    },
    "env": {
        "node": true,
        "jquery": true
    },
    "plugins": [
        "standard",
        "promise"
    ],
    "globals": {
        "document": false,
        "navigator": false,
        "window": false
    },
    "extends": [
        "eslint:recommended"
    ],
    "rules": {
        // checks for possible errors
        "no-cond-assign" : 2,
        "no-console" : 0,
        "no-constant-condition": [2, { "checkLoops": false }],
        "no-control-regex": 2,
        "no-debugger": 2,
        "no-dupe-args": 2,
        "no-dupe-keys": 2,
        "no-dupe-class-members": 2,
        "no-duplicate-case": 2,
        "no-duplicate-imports": 2,
        "no-empty-character-class": 2,
        "no-empty" : 2,
        "no-ex-assign": 2,
        "no-extra-boolean-cast": 2,
        "no-extra-parens": [1, "all"],
        "no-extra-semi" : 1,
        "no-func-assign": 2,
        "no-inner-declarations": [2, "both"],
        "no-invalid-regexp": 2,
        "no-irregular-whitespace": 2,
        "no-obj-calls": 2,
        "no-prototype-builtins" : 2,
        "no-regex-spaces": 2,
        "no-sparse-arrays": 0,
        "no-template-curly-in-string": 2,
        "no-unexpected-multiline": 2,
        "no-unreachable": 2,
        "no-unsafe-finally": 2,
        "no-unsafe-negation": 2,
        "use-isnan": 2,
        "require-jsdoc": 1,
        "valid-jsdoc": [1, {
            "requireReturn": false,
            "prefer": {
                "returns": "return",
                "arg" : "param",
                "argument" : "param",
                "Boolean" : "boolean",
                "Number" : "number",
                "String" : "string"
            }
        }
        ],
        "valid-typeof": 2,


        // checks for best practices
        "accessor-pairs": [1, {"getWithoutSet": true} ],
        "array-callback-return" : 2,
        "block-scoped-var" : 1,
        "class-methods-use-this" : 1,
        "complexity" : [1, { "max" : 10 }],
        "consistent-return": 1,
        "curly": [1, "all"],
        "default-case" : 2,
        "dot-location": [1, "property"],
        "dot-notation": 1,
        "eqeqeq": [2, "always"],
        "guard-for-in" : 1,
        "no-alert" : 2,
        "no-caller": 2,
        "no-case-declarations": 1,
        "no-div-regex": 0,
        "no-else-return" : 1,
        "no-empty-function" : 1,
        "no-empty-pattern" : 1,
        "no-eq-null" : 2,
        "no-eval": 2,
        "no-extend-native": 2,
        "no-extra-bind": 2,
        "no-fallthrough" : 2,
        "no-floating-decimal": 2,
        "no-global-assign": 2,
        "no-implicit-coercion" : [1, {"boolean": false}],
        "no-implicit-globals" : 2,
        "no-implied-eval" : 2,
        "no-invalid-this" : 2,
        "no-iterator": 2,
        "no-labels" : 2,
        "no-lone-blocks": 2,
        "no-loop-func" : 2,
        "no-magic-numbers" : [0, {
            "ignore": [-1,0,1,2,3,4,5,6,7,8,9],
            "ignoreArrayIndexes": true
        }],
        "no-multi-spaces": 1,
        "no-multi-str" : 2,
        "no-new-func": 2,
        "no-new-wrappers" : 2,
        "no-new": 1,
        "no-octal": 2,
        "no-octal-escape": 2,
        "no-param-reassign" : 2,
        "no-proto" : 2,
        "no-redeclare": 2,
        "no-return-assign": [2, "always"],
        "no-script-url" : 2,
        "no-self-assign": 2,
        "no-self-compare": 2,
        "no-sequences": 2,
        "no-throw-literal": 2,
        "no-unmodified-loop-condition": 2,
        "no-unused-expressions" : [1, {"allowTernary": true}],
        "no-useless-call": 2,
        "no-useless-concat" : 1,
        "no-useless-escape": 1,
        "no-void" : 2,
        "no-warning-comments" : [1, {
            "terms": ["todo", "fixme", "xxx"],
            "location": "anywhere"
        }],
        "no-with" : 2,
        "radix" : 1,
        "vars-on-top" : 1,
        "wrap-iife": [2, "any"],
        "yoda" : 0,

        // checks for variables
        "init-declarations" : 0,
        "no-catch-shadow" : 2,
        "no-delete-var" : 2,
        "no-label-var" : 2,
        "no-restricted-globals" : 2,
        "no-shadow-restricted-names" : 2,
        "no-shadow" : 1,
        "no-undef-init" : 2,
        "no-undef": 2,
        "no-undefined" : 2,
        "no-unused-vars" : [1, { "vars": "all", "args": "after-used" }],
        "no-use-before-define" : 1,

        // Checks for Node.js and CommonJS
        "global-require" : 1,
        "handle-callback-err": [2, "^(err|error)$" ],
        "no-mixed-requires" : [1, { "grouping": false, "allowCall": true }],
        "no-new-require" : 2,
        "no-path-concat" : 1,
        "no-process-env" : 2,
        "no-process-exit" : 2,
        "no-restricted-modules" : 0,
        "no-sync" : 2,

        // Checks for ES6
        "arrow-body-style" : [1, "as-needed"],
        "arrow-parens" : [1, "as-needed"],
        "arrow-spacing": [2, { "before": true, "after": true }],
        "constructor-super" : 2,
        "generator-star-spacing": [1, "after"],
        "no-class-assign": 2,
        "no-const-assign": 2,
        "no-confusing-arrow": 0,
        "no-new-symbol": 2,
        "no-restricted-imports" : 0,
        "no-this-before-super" : 2,
        "no-useless-computed-key": 1,
        "no-useless-constructor": 1,
        "no-useless-rename": 1,
        "no-var" : 1,
        // zu hart für Umgebungen mit jQuery
        // "object-shorthand" : [1, "always"],
        "prefer-arrow-callback" : [1, { "allowNamedFunctions": true }],
        "prefer-const" : 1,
        "prefer-rest-params" : 1,
        "prefer-spread" : 1,
        "prefer-template" : 1,
        "require-yield" : 1,
        "rest-spread-spacing": [1, "never"],
        "sort-imports" : 0,
        "symbol-description" : 1,
        "template-curly-spacing": [1, "never"],
        "yield-star-spacing": [1, "after"],

        // Styling - kollidiert möglicherweise mit unserem Formatter
        // "block-spacing": [1, "always"],
        // "comma-spacing": [2, { "before": false, "after": true }],
        // "key-spacing": [1, { "beforeColon": false, "afterColon": true }],
        // "brace-style": [2, "1tbs", { "allowSingleLine": true }],

        "comma-dangle": [1, "never"],
        "comma-style": [1, "last"],
        "eol-last": 1,
        "func-call-spacing": [1, "never"],
        "indent": [1, 4, { "SwitchCase": 1 }],
        "keyword-spacing": [1, { "before": true, "after": true }],
        "max-depth": [1, 5],
        "max-len": [1, 180, 4],
        "max-lines": [1, {"max": 1000, "skipBlankLines": true}],
        "max-params": [1, 7],
        "max-statements-per-line": [1, {"max": 1}],
        "new-cap": [2, { "newIsCap": true, "capIsNew": false }],
        "new-parens": 2,
        "no-array-constructor": 2,
        "no-inline-comments": 1,
        "no-mixed-spaces-and-tabs": 1,
        "no-multiple-empty-lines": [1, { "max": 4 }],
        "no-new-object": 2,
        "no-tabs": 1,
        "no-trailing-spaces": [1, {"skipBlankLines": true}],
        "no-unneeded-ternary": [1, { "defaultAssignment": false }],
        "no-whitespace-before-property": 1,
        "object-property-newline": [1, { "allowMultiplePropertiesPerLine": true }],
        "one-var-declaration-per-line" : [1, "always"],
        //"operator-linebreak": [1, "after", { "overrides": { "?": "before", ":": "before" } }],
        "quotes": [1, "single", { "avoidEscape": true, "allowTemplateLiterals": true }],
        "semi": [1, "always"],
        "semi-spacing": [2, { "before": false, "after": true }],
        "space-before-blocks": [1, "always"],
        "space-before-function-paren": [1, "never"],
        "space-in-parens": [1, "never"],
        "space-infix-ops": 1,
        "space-unary-ops": [1, { "words": true, "nonwords": false }],
        "spaced-comment": [1, "always", { "line": { "markers": ["*package", "!", ","] }, "block": { "balanced": true, "markers": ["*package", "!", ","], "exceptions": ["*"] } }],
        "unicode-bom": [2, "never"],

        // Checks, die aus Plugins kommen
        // "standard/array-bracket-even-spacing": [2, "either"],
        // "standard/computed-property-even-spacing": [2, "even"],

        "promise/param-names": 2,
        "standard/array-bracket-even-spacing": [
            2,
            "either"
        ],
        "standard/computed-property-even-spacing": [
            2,
            "even"
        ]
    }
}
